<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>A.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ABC169-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>B.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>C.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>D.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>E.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>F.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ATests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ETests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TestLibrary</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
